.profile__edit-button {
  margin: 0 0 16px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  background: transparent url(../../../images/Vector.svg) center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 1s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 935px) {
  .profile__edit-button {
    margin-bottom: 8px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}