.popup__content_view {
    max-width: 75vw;
    min-height: auto;
    width: auto;
    padding: 0;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
  }
  