.profile__add-button {
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  background: transparent url(../../../images/Vector-plus.svg) center no-repeat;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 1s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 935px) {
  .profile__add-button {
    margin: 32px auto 0;
    width: 282px;
    background-size: 16px 16px;
  }
}